:root {
  /* radius */
  --radius: 0.625rem;

  /* brand */
  --accentcolor: #b89b5e;

  /* semantic aliases (оставляем, если уже используются в проекте) */
  --color-accentbackground: var(--accentcolor);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-eukrainehead: var(--font-eukrainehead);
  --font-eukraine: var(--font-eukraine);
  --font-manrope: var(--font-manrope);
  --font-sacramento: var(--font-sacramento);
}